header{
    background-color: #FFF9F4;
}
nav img{
    width: 350px;
}
nav a{
    font-size: 20px;
    font-weight: 600;
    margin-right: 25px;
}
.top-banner h1{
    font-size: 60px;
    font-weight: 700;
}

.price{
    font-size: 32px;
    font-weight: bold;
    color: #FA804C;
}

.text-highlight{
    color: #FA804C;
}
.card, .card img, .info-card{
    border-radius: 1em;
}
p{
    text-align: justify;
}
.section-heading{
    color: #363958;
    font-size: 45px;
    font-weight: 700;
}
.card-title{
    font-size: 28px;
}
.info-card img{
    width: 120px;
}

/* Wanted to bring the image up after breakpoint. 
But could not solv it. Did not quite Understand why it didnot work! */


@media (max-width:992px){
    .profile-img{
        order: 2;
    }
    .info-card-text, .section-heading{
        text-align: center;
    }
    
}
@media (min-width:992px){
    .info-img{
        order: 4;
    }
    .info-cards .info-card{
        order: 0;
    }
}
